.sidebar {
    display: flex;
    box-sizing: border-box;
    width: 346px;
    background-color: var(--primary-blue);
    border-radius: 24px;
    color: var(--white);
    padding: 39px;
    min-height: 100%;
}

.main_div{
    display: flex;
    width: 268px;
    gap: 46px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.logo_div{
    display: flex;
}

.logo_img{
    width: 83px;
    height: auto;
}

.sidebar_title{
    text-wrap: nowrap;
    margin: 0;
}

.stepper_div{
    height: auto;
}

.menu_div{
    display: flex;
}

.menu_ul{
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    margin-top: 50px;
    margin-bottom: 0;
}

.menu_link {
    display: flex;
    align-items: center;
    color: var(--non_active_white);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.2s, background 0.2s;
    cursor: pointer;
    border-radius: 8px;
}

.menu_link.active {
    color: var(--white);
}

.menu_link:not(.active):hover {
    color: var(--white);
}

.custom-checkbox {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 21px;
    border-radius: 50%;
    border: 2px solid var(--white);
    background: transparent;
    transition: background 0.2s, border-color 0.2s;
    box-sizing: border-box;
    position: relative;
}

.menu_link.active .custom-checkbox {
    background: rgba(255, 255, 255, 0.33);
    border-color: var(--white);
}