.creator__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 85, 163, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.creator__content {
  max-height: 80%;
  width: 464px;
  position: relative;
  padding: 59px 60px 34px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 58px 0px rgba(121, 145, 173, 0.2);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.club__creator__form {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.creator__part {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.club__input__container {
  position: relative;
}

.creator__part-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: rgba(125, 133, 146, 1);
}

.creator__part-input {
  width: 444px;
  border: 1px solid rgba(216, 224, 240, 1);
  border-radius: 14px;
  padding: 12px 0 12px 18px;
  box-shadow: 0px 1px 2px 0px rgba(184, 200, 224, 0.22);

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(10, 22, 41, 1);
}

.creator__part-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(125, 133, 146, 1);
}

.address {
  position: absolute;
  left: 92%;
  top: 27%;
}

.creator__submit {
  margin-top: 30px;
  width: 112px;
  align-self: flex-end;
}
