.div-wrapper {
    background-color: #f4f9fd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .div-wrapper .div {
    background-color: #f4f9fd;
    width: 1440px;
    height: 948px;
    position: relative;
  }
  
  .div-wrapper .medical-app-ios-nat {
    position: absolute;
    top: 19px;
    left: 260px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #0a1629;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .div-wrapper .pages {
    position: absolute;
    width: 265px;
    height: 700px;
    top: 97px;
    left: 250px;
  }
  
  .div-wrapper .overlap-group {
    position: relative;
    width: 267px;
    height: 704px;
    top: -1px;
    left: -1px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 6px 58px #c3cbd61b;
  }
  
  .div-wrapper .elm-general {
    position: absolute;
    width: 6px;
    height: 82px;
    top: 8px;
    left: 261px;
    background-color: #174f9a;
    border-radius: 2px;
  }
  
  .div-wrapper .overlap {
    position: absolute;
    width: 247px;
    height: 311px;
    top: 8px;
    left: 8px;
  }
  
  .div-wrapper .elm-card-gray {
    position: absolute;
    width: 247px;
    height: 82px;
    top: 0;
    left: 0;
    background-color: #f4f9fd;
    border-radius: 14px;
  }
  
  .div-wrapper .technical-task {
    position: absolute;
    top: 16px;
    left: 17px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #0a1629;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .div-wrapper .last-modified-sep {
    position: absolute;
    top: 44px;
    left: 17px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #91929e;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .div-wrapper .view {
    display: flex;
    flex-direction: column;
    width: 204px;
    align-items: flex-start;
    gap: 4px;
    padding: 16px;
    position: absolute;
    top: 77px;
    left: 1px;
  }
  
  .div-wrapper .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #0a1629;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .div-wrapper .last-modified-sep-2 {
    position: relative;
    width: fit-content;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #91929e;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .div-wrapper .view-2 {
    display: flex;
    flex-direction: column;
    width: 165px;
    align-items: flex-start;
    gap: 4px;
    padding: 16px;
    position: absolute;
    top: 155px;
    left: 1px;
  }
  
  .div-wrapper .view-3 {
    display: flex;
    flex-direction: column;
    width: 204px;
    align-items: flex-start;
    gap: 4px;
    padding: 16px;
    position: absolute;
    top: 232px;
    left: 1px;
  }
  
  .div-wrapper .overlap-2 {
    position: absolute;
    width: 857px;
    height: 407px;
    top: 96px;
    left: 544px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 6px 58px #c3cbd61b;
  }
  
  .div-wrapper .elm-card-main {
    position: absolute;
    width: 857px;
    height: 407px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 6px 58px #c3cbd61b;
  }
  
  .div-wrapper .requirements-for-web {
    position: absolute;
    top: 40px;
    left: 41px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #0a1629;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .div-wrapper .when-developing-the {
    position: absolute;
    top: 84px;
    left: 41px;
    opacity: 0.7;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #0a1629;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .div-wrapper .elm-projects {
    position: absolute;
    width: 158px;
    height: 146px;
    top: 222px;
    left: 40px;
  }
  
  .div-wrapper .overlap-3 {
    position: absolute;
    width: 857px;
    height: 407px;
    top: 522px;
    left: 544px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 6px 58px #c3cbd61b;
  }
  
  .div-wrapper .overlap-wrapper {
    position: absolute;
    width: 200px;
    height: 780px;
    top: 20px;
    left: 20px;
  }
  
  .div-wrapper .overlap-4 {
    position: relative;
    width: 278px;
    height: 864px;
    top: -20px;
    left: -20px;
    background-image: url(https://c.animaapp.com/mcoan809Q8nVez/img/elm-card-main.png);
    background-size: 100% 100%;
  }
  
  .div-wrapper .view-4 {
    position: absolute;
    width: 172px;
    height: 44px;
    top: 207px;
    left: 36px;
  }
  
  .div-wrapper .text-wrapper-2 {
    position: absolute;
    top: 9px;
    left: 48px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #7d8592;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .div-wrapper .img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 9px;
    left: 8px;
  }
  
  .div-wrapper .element {
    position: absolute;
    width: 83px;
    height: 85px;
    top: 40px;
    left: 44px;
    object-fit: cover;
  }
  
  .div-wrapper .view-5 {
    position: absolute;
    width: 172px;
    height: 44px;
    top: 153px;
    left: 36px;
  }
  
  .div-wrapper .view-6 {
    position: absolute;
    width: 184px;
    height: 44px;
    top: 261px;
    left: 36px;
  }
  
  .div-wrapper .overlap-group-2 {
    position: absolute;
    width: 174px;
    height: 46px;
    top: -1px;
    left: -1px;
    border-radius: 10px;
  }
  
  .div-wrapper .elm-sidebar {
    position: absolute;
    width: 174px;
    height: 46px;
    top: 0;
    left: 0;
    background-color: #3f8cff;
    border-radius: 10px;
    opacity: 0.1;
  }
  
  .div-wrapper .frame {
    position: absolute;
    width: 145px;
    height: 24px;
    top: 10px;
    left: 9px;
  }
  
  .div-wrapper .calendar {
    position: absolute;
    top: 0;
    left: 40px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #7d8592;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .div-wrapper .tv {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -1px;
    left: 0;
  }
  
  .div-wrapper .elm-sidebar-2 {
    position: absolute;
    width: 6px;
    height: 46px;
    top: -1px;
    left: 179px;
    background-color: #174f9a;
    border-radius: 2px;
  }
  
  .div-wrapper .view-7 {
    position: absolute;
    width: 172px;
    height: 44px;
    top: 315px;
    left: 36px;
  }
  
  .div-wrapper .view-8 {
    position: absolute;
    width: 172px;
    height: 44px;
    top: 724px;
    left: 36px;
  }
  
  .div-wrapper .logout {
    position: absolute;
    top: 10px;
    left: 48px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 600;
    color: #7d8592;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .div-wrapper .icn-sidebar-logout {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 8px;
  }
  
  .div-wrapper .logout-wrapper {
    position: relative;
    height: 24px;
  }
  
  .div-wrapper .logout-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
  }
  